.vs/
VC/
Dependencies/include/fmod/
Dependencies/x64/Debug/lib/fmod/
Dependencies/x64/Release/lib/fmod/
Builds/x64/Debug/*.exp
Builds/x64/Debug/*.lib
Praxis3D/x64/
compileData.scor
compileData.scor.gbl
compileData.scor.incl
compileData.scor.t0000
*.exe
*.dae
*.jpeg
*.jpg
*.tga
*.png
*.bmp
*.mtl
*.pk3
*.farr
*.fbx
*.3ds
*.nff
*.tif
*.tlog
*.idb
*.res
*.recipe
*.tiff
*.mp3
*.wav
*.bank
*.db
*.db-shm
*.db-wal
*.opendb
*.obj
*.log
*.pdb
*.glb
*.ilk
*.aps
*.sarif
*.fspackage
!Praxis3D/Data/Materials/Default/**
!Praxis3D/Data/Models/Default/**
!Praxis3D/Data/Sounds/Default/**
*.exp
Builds/x64/Release/Praxis3D.exp

Builds/x64/Release/Praxis3D.lib
