Praxis3D/x64/Debug 64bit/Praxis3D.vcxproj.FileListAbsolute.txt
\.vs/Praxis3D/v16/ipch/
VC/
Dependencies/include/fmod/
Dependencies/x64/Debug/lib/fmod/
Dependencies/x64/Release/lib/fmod/
*.dae
*.jpeg
*.jpg
*.tga
*.png
*.bmp
*.mtl
*.pk3
*.farr
*.fbx
*.3ds
*.nff
*.tif
*.tlog
*.idb
*.res
*.recipe
*.tiff
*.db
*.db-shm
*.db-wal
*.opendb
*.obj
*.log
*.pdb
Builds/x64/Debug/Praxis3D.exp
Builds/x64/Debug/Praxis3D.lib
*.sarif
Praxis3D/x64/Debug/CodeAnalysisResultManifest.txt
.vs/
Builds/x64/Debug/Praxis3D.exe
Builds/x64/Debug/Praxis3D.exe
Praxis3D/Data/Sounds/
